@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-smooth: auto;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
}

#body {
  font-size: 1.6rem;
  color: #000;
}

header {
  border-bottom: 0.2rem solid #000;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.25rem;
  font-weight: bold;
  text-shadow: 1px 1px white, 1px 1px white, 1px 1px white, 1px 1px white;
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: bottom;
}

nav a:hover {
  font-size: 1.25rem;
  font-weight: bold;
  text-shadow: 1px 1px white, 1px 1px white, 1px 1px white, 1px 1px white;
  color: orangered;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: bottom;
}

footer {
  font-size: 8pt;
  margin-top: 3rem;
  padding: 1.2rem 0;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

#headerContent {
  position: relative;
  top: -3em;
  z-index: 101;
}

@media (max-width: 319px) {
  #mainContent {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }

  #headerContent {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }

  #logoImage {
    visibility: hidden;
    position: absolute;
  }

  header {
    margin: 0.2rem 0;
    height: 18rem;
  }

  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
    height: 10rem;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  #mainContent {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }

  .headerContent {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }

  #logoImage {
    z-index: -10;
    display: inline;
    position: absolute;
    bottom: 0.5em;
    width: 4em;
  }

  header {
    margin: 4.2rem 0;
    height: 14rem;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  #mainContent {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }

  #headerContent {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }

  #logoImage {
    z-index: -10;
    margin: auto;
    display: inline;
    position: absolute;
    bottom: 0.5em;
    width: 4em;
  }

  header {
    margin: 0;
    padding: 0.1rem 0;
    position: fixed;
    height: 8rem;
  }

  #headerSpacer {
    height: 10rem;
    z-index: 100;
  }

  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}

header {
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 98;
}

@supports (backdrop-filter: blur(3px)) {
  .blur {
    backdrop-filter: blur(10px) grayscale(50%);
  }
}

@supports not (backdrop-filter: blur(3px)) {
  .blur {
    background-color: white;
    opacity: 95%;
  }
}

#headerCanvas {
  height: 8rem;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  z-index: 99;
  filter: blur(1px);
}

#headerBlur {
  height: 8rem;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  z-index: 100;
}

pre {
  background: whitesmoke;
  border: darkslategray;
  border-style: solid;
  color: white;
  padding: 0.5em;
}

details {
  background: lightsalmon;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.5em;
  border-radius: 10px;
}

div.info {
  margin: 0.25em;
  padding: 0.25em 1em 0.25em 1em;
  border-radius: 0.5em;
  background: lightcyan;
}

div.note {
  margin: 0.25em;
  padding: 0.25em 1em 0.25em 1em;
  border-radius: 0.5em;
  background: lightgoldenrodyellow;
}